@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Oregano);

/**  Basic Page CSS **/
body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

/**  Header Navigation **/

header .navbar {
  padding: 20px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
  font-size: 1.6rem;
}

header .navbar-default .navbar-nav a:hover {
  color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}

/**  Navbar Brand **/

header .navbar-brand {
  background: url(../images/cavachon_cartoon_logo_32.png);
  background-repeat: no-repeat;
  background-position: 15px -5px;
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}

header .navbar-brand h1 {
  font-family: 'Oregano', cursive, serif;
  color: white;
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 85px;
}

header .navbar-brand span.subhead {
  display: block;  
  font-family: 'Oregano', cursive, serif;
  /*text-align: center;*/
  font-size: .8em;
  font-weight: 100;
}

.navbar-default .navbar-nav>.active>a:focus {
  color: #EEC856;
  background: transparent;
}

/**  Navbar Toggle **/
header .navbar-toggle {
  background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen
and (max-width: 768px) {
  header .navbar-collapse.in {
    background-color: rgba(0,0,0, .5);
  }
}

/**  nav inbody **/

header .inbody {
  background: #586D74;
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 65px;
  background-position: 5px 0px;  
  margin-top: 0px;
  padding: 10px 15px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  header .inbody .navbar-brand h1 {
    font-size: 1.6em;
    padding-left: 58px;
  }
  header .inbody .navbar-brand span.subhead {
  display: none;
  }
}





/**  Page **/
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

/**  Page -- Featured **/
#featured {
  background: url(../images/henry-full.jpg) no-repeat top center;
  background-size: cover;
}

/**  Page -- Welcome **/
#welcome {
  background-color: #E4D29D;
  
  border-top: 20px solid #EEC856;
}

#welcome img {
  margin-bottom: 30px;
  margin-right: 0px;
}

@media screen and (min-width: 992px) {
    #welcome img {
      margin-bottom: 0px;
    }

    header .navbar-brand h1 {
      font-size: 2em;
    }

    header .navbar-default .navbar-nav a {  
      font-size: 2rem;
    }

}

/**  Page -- Information  **/

#information {
  background-color: #E4D29D;
  background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
}

.info {
  margin: 20px 0;
  text-align: center;
}

#information  img.icon {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#information h3 {
  margin-bottom: 10px;
}

@media only screen 
and (min-width: 450px)
and (max-width: 768px) {
  .info p {
    padding: 0 20%;
  }
}

/**  Page -- Contact **/



#testimonials {
    padding: 4rem 0;
    background: hsl(0, 0%, 90%);
}
.testimonials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex:  row wrap;
    -moz-box-flex:  row wrap;
    -webkit-flex:  row wrap;
    -ms-flex:  row wrap;
    flex: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.testimonials li {
    padding: 2rem 0 3rem;
    width: 100%;
}

.testimonial-thumb {
    max-width: 30%;
    height: auto;
    float: left;
}

.testimonial-text {
    float: left;
    width: 60%;
    margin-left: 10%;
}
.testimonial-thumb img {
    border-radius: 210px;
    border: 5px solid #fff;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.testimonial-name {
    font-weight: bold;
    font-size: 24px;
    font-size: 2.4rem;
    margin: 1rem 0;
}

.testimonial-location {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.testimonial-excerpt {
    font-size: 16px;
    font-size: 1.6rem;
}

/* TESTIMONIALS RESPONSIVE */ 

@media screen and (min-width: 650px) {
    .testimonials li {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: 992px) {
    .testimonials li {
        width: 33.3333333333%;
        padding: 2rem 4rem;
        float: left;
    }
    .testimonial-thumb {
        max-width: 210px;
        margin: 0 auto;
        float: none;
    }
    
    .testimonial-text {
        float: none;
        width: auto;
        margin: 0;
    }
    
    .testimonial-name {
        text-align: center;
    }

    .testimonial-location {
        text-align: center;
    }
}

/**  Location **/

  /*#location {
    background: url(../images/harrisonburg-light.jpg) no-repeat top center;
    background-size: cover;
  }

  #location .content {  
    color: black;
    font-weight: 300;
  }*/


/**  Footer **/

footer {
  background: #586D74;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px 0;
}

footer a {
  color: #E0E6AE;
}

footer a:hover {
  color: #EEC856 !important;
}

footer .phone {
  font-size: 1.4em;
  font-weight: 700;
  color: #E0E6AE;
}

footer .navbar {
  margin-bottom: 0;
  min-height: 0;
}

footer .navbar-default {
  background-color: transparent;
  border: none;
  margin-right: 40px;
}

footer .navbar-nav>li a {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: #EEC856 !important;
}

/** Contact Us **/

blockquote {    
    border-left: 5px solid #EEC856;
    background-color: #F8F8F8;
}


/** Contact Form  **/

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #586D74;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #EEC856;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#586D74;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#586D74;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 95vw;
  }
}


#welcome {
  background:#EEF08A;
  transition:background-color .5s linear;
  -moz-transition:background-color .5s linear;
  -webkit-transition:background-color .5s linear;
  -ms-transition:background-color .5s linear;
}

#welcome:hover {

  background:#F8F19A;


}


